<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pulpy</title>
<!--link rel="stylesheet" href="{{ app.request.basepath }}/vendor/zipball/purecss/pure-min.css"-->

<link rel="stylesheet" href="{{ app.request.basepath }}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ app.request.basepath }}/vendor/font-awesome/font-awesome/css/font-awesome.min.css">

<link href="{{ app.request.basepath }}/bundles/pulpyadmin/icomoon/style.css" rel="stylesheet">

<!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/admin/styles.css" />